body {
  background-image: url("../css/pixel-city-chill.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

select {
  display: block;
  width: 100%;
  border-radius: 5px;
  border-color: #f469a7;
  padding: 8px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 0 0 8px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #4d4177;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #fff8d6;
  padding: 5px 40px 40px;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  opacity: 0.9;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  border-bottom-color: #f469a7;
}

.date {
  font-size: 16px;
  opacity: 0.5;
}

.time {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.time small {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

footer {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  color: black;
  padding: 10px 0 0 0;
}
